# .gitignore

# Ignore the Python compiled files
__pycache__
*.py[cod]

# Ignore Django migration files
migrations

# Ignore all log files
*.log

# Ignore the SQLite database file
*.sqlite3

# Ignore the virtual environment directory
.venv/

# Ignore the .env file which might contain sensitive information
.env

# Ignore the adin static files in staticfiles directory
staticfiles/admin

# Ignore all .pyc, .pyo and .pyd files.
*.pyc
*.pyo
*.pyd

# Ignore all files that might appear on the root of a project.
pip-log.txt
pip-delete-this-directory.txt

# Ignore directories created by pytest
.pytest_cache/

# Ignore directories created by mypy
.mypy_cache/

# Ignore directories created by coverage.py
htmlcov/
.coverage
.coverage.*

# Ignore directories created by vscode
.vscode/
TODO.txt

# Ignore directories created by pycharm
.idea/

# Ignore directories created by Jupyter Notebook
.ipynb_checkpoints/