{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'zooblog/css/styles.css' %}">
<div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="header-bar">
        <h1 class="h1 prominent-header">Chatty</h1>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card mt-3">
                <div class="card-header">
                    Chatbot
                </div>
                <div class="card-body">
                    <div class="chat-box" id="chat-box">
                        <div class="chat-box__message chat-box__message--bot">
                            <p>Hello! I am a chatbot. How can I help you?</p>
                        </div>
                    </div>
                    <form id="chat-form">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="chat-input" placeholder="Type your message here">
                            <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Your JavaScript code here...
</script>
{% endblock %}