{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'zooblog/css/styles.css' %}">
<div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="header-bar">
        <h1 class="h1 prominent-header">Blog</h1>
        <!-- Add Post button -->
        <a href="{% url 'add_post' %}" class="btn btn-primary mb-3">Add Post</a>
    </div>
    <div class="row">
        <div class="col-sm-10">
            {% for post in posts %}
            <div class="card card-margin-bottom card-opacity">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}