{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <title>zooloo.me</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">zooloo.me</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <!-- Add more navigation items here -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'chatbot' %}">Chatbot</a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                </ul>
            </div>
        </nav>

        <!-- Placeholder for full-page image -->
        <div style="height: 100vh; background: url('{% static "zooblog/images/zooloo_img_web.jpg" %}') no-repeat center center; background-size: cover;">
            <!-- Content goes here -->
            {% block content %}
            {% endblock %}
        </div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    </body>
</html>